body{
  background-color:#d4f1f4;
}
h1{
  font-family:'Pacifico',cursive;
  font-size:5rem;
  text-align: center;
  
}
.text{
  font-family: 'Dancing Script',cursive;
  font-size: 2rem;
}
.card {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.card img {
  max-width: 500px;
  height:200px;
}
.candle21{
  float:left;
  height: 400px;
  width: 400px;
}
.wish21,.thankyou{
  margin-right: 40px;
  margin-left: 40px;
}
.border {
  position: absolute;
  top:55%;
  left:55%;
  transform: translate(-50%, -50%);
  height: 800px;
  width: auto;
}
.gift{
  float:right;
  height: 500px;
  width: 500px;
}
.sideBallons{
 display: inline-block;
 position:absolute;
 top:60px;
 transform: translate(-35%, 10%);
  margin-left:40px;
}
.rightsideBalloon{
  display: inline-block;
 position:absolute;
 top:60px;
 transform: translate(200%, 10%);
  margin-right:40px;
}
.card1{
  margin-top:200px;
  margin-bottom: 200px;
}
@media (max-width:700px) {
  h1 {
    font-size: 2.5rem;
    margin: 0 20px;
  }

  .border {
    position: absolute;
    height: 300px;
    top:25%;
    left: 55%;
    transform: translate(-50%,-15%);
  }
  .rightsideBalloon{
    display: inline-block;
    position:absolute;
    top:60px;
    transform: translate(60%, 0%);
  }
  .sideBallons{
    display: inline-block;
    position:absolute;
    top:60px;
    transform: translate(-55%, 0%);
}
.sideBallons img,.rightsideBalloon img{
  width: 300px;
  height: 300px;
}
.text{
  font-size: 1.5rem;
}
.candle21{
  height: 250px;
  width: 250px;
}
.gift{
  height: 300px;
  width: 250px;
}
  .card img,.thankyou img{
    width: 200px;
    height:200px;
  }
}
  

